{{ define "colors" }}

<style>
  #site-header {
    color: {{ index .Colors "primaryText" }};
    background-color: {{ index .Colors "primary" }};
  }

  .primary-btn {
    color: {{ index .Colors "primaryText" }};
    background-color: {{ index .Colors "primary" }};
  }

  .accent-btn {
    color: {{ index .Colors "accentText" }};
    background-color: {{ index .Colors "accent" }};
  }

  .floating-action-btn {
    color: {{ index .Colors "accentText" }};
    background-color: {{ index .Colors "accent" }};
  }
</style>

{{ end }}